:root {
    --byat: #fff6ed;
    --orange9wi : #ff5e00;
    --orangeD3if : orange;
    --blueMari : #00003e ;
}

/* Light Mode */


.app {
    background-color: var(--byat);
}
.parentHome {
    width: 70%;
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    height: calc(100vh - 4rem);
}

.parentGraph {
    display: grid;
    place-items: center;
}
.parentGraph h1 {
    color: var(--blueMari);
    font-size: 8rem;
    width: fit-content;
    position: relative;
    bottom: 24.5rem;
    letter-spacing: 2.5rem;
}
.Circle {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    background: linear-gradient(20deg, #ff5e00, #ff5e00, orange);
    overflow: hidden;
    animation: circle-in-center 1.5s ease-in;
}

.parentLinksSocialMedia ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    list-style-type: none;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 23rem;
    left: 15rem;
}
.parentLinksSocialMedia ul li i{
    color: var(--blueMari);
    font-size: 1.3rem;

}
.parentLinksSocialMedia ul li{
    transition: all .2s;
}
.liLink:hover{
    transform: scale(2) rotate(-15deg);
}
.line {
    width: 3px;
    height: 4rem;
    border-radius: 5px;
    background-color: var(--blueMari);
    margin: auto;
}
.imageProfile {
    position: relative;
    z-index: 1;
    width: 375px;
    border-radius: 50%;
}

@media (max-width : 695px){
    .parentHome {
        width: 100%;
        margin: 0;
    }
    .parentGraph h1 {
        font-size: 5rem;
        position: relative;
        color: var(--blueMari);
        bottom: 17.8rem;
        letter-spacing: 2.2rem;
    }
    .Circle {
        width: 17rem;
        height: 17rem;
    }
    .imageProfile {
        height: auto;
        width: 280px;
    }
    .parentLinksSocialMedia ul {
        position: absolute;
        top: 23rem;
        left: 5rem;
    }
}

@media (max-width : 487px){ 
    .parentGraph {
        margin-top: 4rem;
    }

}
@media (max-width : 466px){ 
    .parentGraph {
        margin-top: 6rem;
    }
    .parentGraph h1 {
        font-size: 2.8rem;
        position: relative;
        color: var(--blueMari);
        bottom: 15.3rem;
        letter-spacing: 1.7rem;
    }
    .Circle {
        width: 15rem;
        height: 15rem;
    }
    .imageProfile {
        height: auto;
        width: 240px;
    }
    .parentLinksSocialMedia ul {
        position: absolute;
        top: 23rem;
        left: 2rem;
    }

}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

.CircleEffect1 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 7rem;
    bottom: 10rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    /* opacity: 0.2; */
    border-radius: 50%;
}

.CircleEffect2 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 6rem;
    bottom: 9rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    border-radius: 50%;
}
.CircleEffect3 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 7rem;
    bottom: 8rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    opacity: 0.2;
    border-radius: 50%;
}
.CircleEffect4 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 6rem;
    bottom: 7rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    border-radius: 50%;
}

@media (min-width:1029px) {
    .CircleEffect1 {
        opacity: 0.3;
    }   
    .CircleEffect2 {
        opacity: 0.3;
    }
    .CircleEffect3 {
        opacity: 0.3;
    }
    .CircleEffect4 {
        opacity: 0.3;
    }
}


/* Dark Mode  */

.appDark {
    background-color: var(--blueMari);
}
.parentHomeDark {
    width: 70%;
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    height: calc(100vh - 4rem);
}

.parentGraphDark {
    display: grid;
    place-items: center;
}
.parentGraphDark h1 {
    color: var(--byat);
    font-size: 8rem;
    width: fit-content;
    position: relative;
    bottom: 24.5rem;
    letter-spacing: 2.5rem;
}
.CircleDark {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    background: linear-gradient(20deg, #ff5e00, #ff5e00, orange);
    overflow: hidden;
    animation: circle-in-center 1.5s ease-in;
}

.parentLinksSocialMediaDark ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    list-style-type: none;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 23rem;
    left: 15rem;
}
.parentLinksSocialMediaDark ul li i{
    color: var(--byat);
    font-size: 1.3rem;

}
.parentLinksSocialMediaDark ul li{
    transition: all .2s;
}
.liLink:hover{
    transform: scale(2) rotate(-15deg);
}
.lineDark {
    width: 3px;
    height: 4rem;
    border-radius: 5px;
    background-color: var(--byat);
    margin: auto;
}
.imageProfile {
    position: relative;
    z-index: 1;
    width: 375px;
    border-radius: 50%;
}

@media (max-width : 695px){
    .parentHomeDark {
        width: 100%;
        margin: 0;
    }
    .parentGraphDark h1 {
        font-size: 5rem;
        position: relative;
        color: var(--blueMari);
        bottom: 17.8rem;
        letter-spacing: 2.2rem;
    }
    .CircleDark {
        width: 17rem;
        height: 17rem;
    }
    .parentGraphDark h1{
        color: var(--byat);
    }
    .imageProfile {
        height: auto;
        width: 280px;
    }
    .parentLinksSocialMediaDark ul {
        position: absolute;
        top: 23rem;
        left: 5rem;
    }
}

@media (max-width : 487px){ 
    .parentGraphDark {
        margin-top: 4rem;
    }
    .parentGraphDark h1{
        color: var(--byat);
    }

}
@media (max-width : 466px){ 
    .parentGraphDark {
        margin-top: 6rem;
    }
    .parentGraphDark h1 {
        font-size: 2.8rem;
        position: relative;
        color: var(--blueMari);
        bottom: 15.3rem;
        letter-spacing: 1.7rem;
    }
    .CircleDark {
        width: 15rem;
        height: 15rem;
    }
    .parentGraphDark h1{
        color: var(--byat);
    }
    .imageProfile {
        height: auto;
        width: 240px;
    }
    .parentLinksSocialMediaDark ul {
        position: absolute;
        top: 23rem;
        left: 2rem;
    }

}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

.CircleEffect1 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 7rem;
    bottom: 10rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    /* opacity: 0.2; */
    border-radius: 50%;
}

.CircleEffect2 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 6rem;
    bottom: 9rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    border-radius: 50%;
}
.CircleEffect3 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 7rem;
    bottom: 8rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    opacity: 0.2;
    border-radius: 50%;
}
.CircleEffect4 {
    background-color: var(--orangeKhfif); 
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    right: 6rem;
    bottom: 7rem;
    box-shadow: 0 0 300px 150px var(--orangeKhfif);
    border-radius: 50%;
}

@media (min-width:1029px) {
    .CircleEffect1 {
        opacity: 0.3;
    }   
    .CircleEffect2 {
        opacity: 0.3;
    }
    .CircleEffect3 {
        opacity: 0.3;
    }
    .CircleEffect4 {
        opacity: 0.3;
    }
}
